<div id="<%= dom_id tenant %>">
  <p>
    <strong><%= t("activerecord.attributes.tenant.property_id") %>:</strong>
    <%= tenant.property_id %>
  </p>
  <p>
    <strong><%= t("activerecord.attributes.tenant.first_name") %>:</strong>
    <%= tenant.first_name %>
  </p>
  <p>
    <strong><%= t("activerecord.attributes.tenant.last_name") %>:</strong>
    <%= tenant.last_name %>
  </p>
  <p>
    <strong><%= t("activerecord.attributes.tenant.email") %>:</strong>
    <%= tenant.email %>
  </p>
  <p>
    <strong><%= t("activerecord.attributes.tenant.rent_amount") %>:</strong>
    <%= tenant.rent_amount %>
  </p>
  <p>
    <strong><%= t("activerecord.attributes.tenant.charges_amount") %>:</strong>
    <%= tenant.charges_amount %>
  </p>
  <p>
    <strong><%= t("activerecord.attributes.tenant.lease_start_date") %>:</strong>
    <%= tenant.lease_start_date %>
  </p>
  <p>
    <strong><%= t("activerecord.attributes.tenant.lease_end_date") %>:</strong>
    <%= tenant.lease_end_date %>
  </p>
</div>