<div id="<%= dom_id financial_operation %>">
  <p>
    <strong><%= t("activerecord.attributes.financial_operation.company_id") %>:</strong>
    <%= financial_operation.company_id %>
  </p>
  <p>
    <strong><%= t("activerecord.attributes.financial_operation.property_id") %>:</strong>
    <%= financial_operation.property_id %>
  </p>
  <p>
    <strong><%= t("activerecord.attributes.financial_operation.tenant_id") %>:</strong>
    <%= financial_operation.tenant_id %>
  </p>
  <p>
    <strong><%= t("activerecord.attributes.financial_operation.associate_id") %>:</strong>
    <%= financial_operation.associate_id %>
  </p>
  <p>
    <strong><%= t("activerecord.attributes.financial_operation.category") %>:</strong>
    <%= financial_operation.category %>
  </p>
  <p>
    <strong><%= t("activerecord.attributes.financial_operation.label") %>:</strong>
    <%= financial_operation.label %>
  </p>
  <p>
    <strong><%= t("activerecord.attributes.financial_operation.amount") %>:</strong>
    <%= financial_operation.amount %>
  </p>
  <p>
    <strong><%= t("activerecord.attributes.financial_operation.date") %>:</strong>
    <%= financial_operation.date %>
  </p>
</div>