<%= form_with(model: company, html: { class: "row g-3" }) do |form| %>
  <% if company.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= t("helpers.errors_prohibited", count: company.errors.count, model: t("activerecord.models.company.one")) %></h2>
      <ul>
        <% company.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-12">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  <div class="col-12">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>