<div id="<%= dom_id property %>">
  <p>
    <strong><%= t("activerecord.attributes.property.address") %>:</strong>
    <%= property.address %>
  </p>
  <p>
    <strong><%= t("activerecord.attributes.property.description") %>:</strong>
    <%= property.description %>
  </p>
  <p>
    <strong><%= t("activerecord.attributes.property.acquisition_date") %>:</strong>
    <%= property.acquisition_date %>
  </p>
  <p>
    <strong><%= t("activerecord.attributes.property.acquisition_price") %>:</strong>
    <%= property.acquisition_price %>
  </p>
</div>