<%= form_with(model: general_meeting, html: { class: "row g-3" }) do |form| %>
  <% if general_meeting.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= t("helpers.errors_prohibited", count: general_meeting.errors.count, model: t("activerecord.models.general_meeting.one")) %></h2>
      <ul>
        <% general_meeting.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-12">
    <%= form.label :company_id, class: "form-label" %>
    <%= form.text_field :company_id, class: "form-control" %>
  </div>
  <div class="col-12">
    <%= form.label :date, class: "form-label" %>
    <%= form.date_field :date, class: "form-control" %>
  </div>
  <div class="col-12">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>
  <div class="col-12">
    <%= form.label :minutes_text, class: "form-label" %>
    <%= form.textarea :minutes_text, class: "form-control" %>
  </div>
  <div class="col-12">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>