<div id="<%= dom_id general_meeting %>">
  <p>
    <strong><%= t("activerecord.attributes.general_meeting.date") %>:</strong>
    <%= general_meeting.date %>
  </p>
  <p>
    <strong><%= t("activerecord.attributes.general_meeting.title") %>:</strong>
    <%= general_meeting.title %>
  </p>
  <p>
    <strong><%= t("activerecord.attributes.general_meeting.minutes_text") %>:</strong>
    <%= general_meeting.minutes_text %>
  </p>
</div>