<div id="<%= dom_id associate %>">
  <p>
    <strong><%= t("activerecord.attributes.associate.company_id") %>:</strong>
    <%= associate.company_id %>
  </p>
  <p>
    <strong><%= t("activerecord.attributes.associate.first_name") %>:</strong>
    <%= associate.first_name %>
  </p>
  <p>
    <strong><%= t("activerecord.attributes.associate.last_name") %>:</strong>
    <%= associate.last_name %>
  </p>
  <p>
    <strong><%= t("activerecord.attributes.associate.email") %>:</strong>
    <%= associate.email %>
  </p>
  <p>
    <strong><%= t("activerecord.attributes.associate.shares_count") %>:</strong>
    <%= associate.shares_count %>
  </p>
  <p>
    <strong><%= t("activerecord.attributes.associate.initial_contribution") %>:</strong>
    <%= associate.initial_contribution %>
  </p>
  <p>
    <strong><%= t("activerecord.attributes.associate.current_account_balance") %>:</strong>
    <%= associate.current_account_balance %>
  </p>
</div>