<%= form_with(model: property, html: { class: "row g-3" }) do |form| %>
  <% if property.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= t("helpers.errors_prohibited", count: property.errors.count, model: t("activerecord.models.property.one")) %></h2>
      <ul>
        <% property.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-12">
    <%= form.label :company_id, class: "form-label" %>
    <%= form.text_field :company_id, class: "form-control" %>
  </div>
  <div class="col-12">
    <%= form.label :address, class: "form-label" %>
    <%= form.text_field :address, class: "form-control" %>
  </div>
  <div class="col-12">
    <%= form.label :description, class: "form-label" %>
    <%= form.textarea :description, class: "form-control" %>
  </div>
  <div class="col-12">
    <%= form.label :acquisition_date, class: "form-label" %>
    <%= form.date_field :acquisition_date, class: "form-control" %>
  </div>
  <div class="col-12">
    <%= form.label :acquisition_price, class: "form-label" %>
    <%= form.text_field :acquisition_price, class: "form-control" %>
  </div>
  <div class="col-12">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>